@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .hoverEffect {
    @apply duration-300 cursor-pointer;
  }
  .headerSedenavLi {
    @apply hover:underline underline-offset-2 cursor-pointer text-gray-300 hover:text-white;
  }
}

@layer utilities {
  .max-w-containerSm {
    max-width: calc(100vw - 32px);
  }
}

nav .active li {
  color: rgb(241,89,41);
  font-weight: 600;
  text-decoration: 1px underline rgb(241,89,41);
}

.card-hover-animate {
  position: relative;
  overflow: hidden;
}

.card-hover-animate::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #FAC211; 
  z-index: 1;
  transition: height 0.4s ease-in-out;
}

.card-hover-animate:hover::before {
  height: 100%;
}


@media screen and (max-width: 665px) {
  nav .active li {
    color: white;
    font-weight: 600;
    text-decoration: 1px underline white;
  }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}



/* swiper? */

/* Swiper global fix */
.bestSwiper {
  width: 100%;
}

.bestSwiper .swiper-wrapper {
  width: 100%;
  height: auto !important;
}

.bestSwiper .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-button-prev,
.swiper-button-next {
  color: #000 !important;   /* Oxlar görünsün deyə */
}

.swiper-pagination-bullet {
  background: #000 !important; /* Pagination görünməsi üçün */
}










.mySwiper .swiper-button-next,
.mySwiper .swiper-button-prev {
    /* Rəngi dəyişdirin (məsələn, sarı) */
    color: #FFC024 !important; 
    
    /* Mobil görünüşdə oxların kənardan içəri çəkilməsini təmin edir */
    /* Oxlar kəsilməməlidir */
    top: 50%;
    transform: translateY(-50%);
    
    /* İkonun ölçüsünü tənzimləyin */
    font-size: 18px !important;
    
    /* Saytın kənarlarından məsafə qoyur */
    margin: 0 10px;
}



